 * {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
 }

 body{
    background-color:#acacff;
 }

 main{
    background-color: white;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(185, 135, 238, 0.899);
 }
 
 h1 {
   color: rgb(58,0,112);
   font-size: 2em;
 }
    
   h2 {
      color: rgb(58,0,112);
      font-size: 1.5em;
   }

 img.lado{
   float: right;
 }

  a{
   text-decoration: none;
   color: rgb(58,0,112);
   font-weight: bold;
  }

  a:hover {
   color: rgb(26,26,255);
   text-decoration: underline;
   }

 img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Mantém o corte proporcional */
}
span.red{
      color: red;
      font-size: 1.2em;
}

